<div id="<%= dom_id category_datum %>">
  <p>
    <strong>Category:</strong>
    <%= category_datum.category_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= category_datum.data_id %>
  </p>

</div>
