<h1>Editing category datum</h1>

<%= render "form", category_datum: @category_datum %>

<br>

<div>
  <%= link_to "Show this category datum", @category_datum %> |
  <%= link_to "Back to category data", category_data_path %>
</div>
