<div id="<%= dom_id datum %>" class="category">
  <p>
    <strong>Author:</strong>
    <%= datum.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= datum.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= datum.amount %>
  </p>

</div>
